---
layout: default
title: Home
---

<h2>시작하는 글</h2>

<p>
최근 머신러닝 분야의 지속적인 발전 속에서 다양한 연구들이 진행되고 있으며, 이를 현실 문제에 빠르게 적용하려는 움직임 또한 점차 커지고 있습니다. 하지만 머신러닝의 근간을 이루는 수학에 대한 심도 높은 이해가 없다면 선행 연구와 적용 또한 피상적으로 이뤄질 수 밖에 없습니다. Convex Optimization은 그 자체만으로도 머신러닝과 직접적으로 연관이 많을 뿐더러 선형대수, 미적분학, 수치해석과 같이 수학의 다양한 하위 분야들을 포함하고 있다는 점에서 머신러닝을 공부하는 사람들에게 매력적인 학문입니다. 다만 홀로 다루기에는 내용이 적지 않을 뿐더러 학문 자체의 난이도도 높은 편이기에 함께 공부할 사람들을 모아 Convex Optimization Study를 시작하게 되었습니다. 본 Repository는 함께 진행한 Study의 흔적이자, 후에 혼자 공부하고자 하시는 분들께 도움을 드리고자 만들었습니다.
<p>
  
</p>
본 Repository의 주요 컨텐츠는 <a href="https://wikidocs.net/book/1896">모두를 위한 컨벡스 최적화</a>의 저자 분들의 동의를 구해 Migration한 내용들입니다. 원 컨텐츠는 Convex Optimization에 관한 한국어 컨텐츠 중 가장 잘 알려져 있으면서 내용적으로도 부족함이 없습니다. 다만 Wiki Books로 되어 있어 이슈 관리가 어렵다는 기존 저자 분들의 의견이 있었고, 본 Repository는 기존 컨텐츠를 Open Source화 하여 이러한 아쉬움을 해소하기 위한 목적으로 제작되었습니다. 따라서 누구나 컨텐츠에 이슈를 제기하고 원한다면 PR로 수정할 수 있습니다. 이를 통해 <a herf="https://wikidocs.net/book/1896">모두를 위한 컨벡스 최적화</a> 저자분들의 뜻이기도 한 '전국민의 지적 성장과 컨벡스 최적화의 국내 대중화'에 작은 보탬이 될 수 있기를 바랍니다.
</p>

<h2>목차</h2>

{% assign page_list = site.pages | sort: "chapter"%}
{% for page in page_list %}
  {% if page.chapter %}
    <p><a href="{{ page.url }}"> {{page.chapter}}. {{ page.title }}</a></p>
  {% endif %}
{% endfor %}