---
layout: default
---

<h1>{{page.chapter}}. {{page.title}}</h1>

{% assign full_name = page.chapter | prepend: "chapter" %}
{% assign post_list = site.categories[full_name] | sort_natural %}

{% if page.chapter == "26" %}
  {% assign full_name = "reference" %}
  {% assign post_list = site.categories[full_name] | sort_natural %}
{% endif %}

<!-- Get first post and show it -->
{% assign first_post = post_list | first %}
{{first_post.content}}

<!-- Remove first element from post_list which is already shown above. -->
{% assign post_list = post_list | shift %}  

<!-- List up the posts in the chapter -->
<ul style="list-style: none;">
{% for post in post_list %}
  {% assign title_parts = post.title | split: " " %}
  {% assign subchapter = title_parts | first %}
  {% assign subchapter_level = subchapter | split: "-" %}
  {% if subchapter_level.size < 3 %}
    <li style="text-align:left; vertical-align: middle; margin-left: -2em; margin-top: 5px;" >
      <a href="{{ post.url }}">{{post.title}}</a>
    </li>
  {% endif %}
  {% if subchapter_level.size >= 3 %}
    <li style="text-align:left; vertical-align: middle;  margin-left: 0em;" >
      <a href="{{ post.url }}"> {{ post.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
