---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</div>

{% assign full_name = page.chapter | prepend: "chapter" %}
{% assign post_list = site.categories[full_name] | sort_natural %}

<ul style="list-style: none;">
  <li style="text-align:left; vertical-align: middle; margin-left: -2em; margin-top: 5px;" >
    <h3>Previous Posts</h3>
  </li>
  {% for post in post_list %}

    {% if post.title != page.title%}
      {% assign title_parts = post.title | split: " " %}
      {% assign subchapter = title_parts | first %}
      {% assign subchapter_level = subchapter | split: "-" %}
      {% if subchapter_level.size < 3 %}
        <li style="text-align:left; vertical-align: middle; margin-left: -2em; margin-top: 5px;" >
            <a href="{{ post.url }}">{{post.title}}</a>
        </li>
      {% endif %}
      {% if subchapter_level.size >= 3 %}
        <li style="text-align:left; vertical-align: middle;  margin-left: 0em;" >
          <a href="{{ post.url }}"> {{ post.title }}</a>
        </li>
      {% endif %}
    {% endif %}

    {% if post.title == page.title%}
      <li style="text-align:left; vertical-align: middle; margin-left: -2em; margin-top: 5px;" >
        <h3>Next Posts</h3>
      </li>
    {% endif %}

  {% endfor %}
</ul>

<script src="https://utteranc.es/client.js"
        repo="convex-optimization-for-all/convex-optimization-for-all.github.io"
        issue-term="title"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
