---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% assign full_name = page.chapter | prepend: "chapter" %}
{% assign post_list = site.categories[full_name] | sort_natural: "order" %}

{% assign post_order = page.order%}

{% assign post_before = page.order | minus: 1 %}
{% assign post_after = page.order | plus: 1 %}

{% if post_list.size >= 2 %}
<div class="related">
  <ul class="related-posts">
    {% for post in post_list%}
      {% if post.order == post_before %}
        <li>
          <h2>Previous Post</h2>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
    {% for post in post_list%}
    {% if post.order == post_after %}
      <li>
        <h2>Next Post</h2>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}

<script src="https://utteranc.es/client.js"
        repo="convex-optimization-for-all/convex-optimization-for-all.github.io"
        issue-term="title"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
